
::-webkit-scrollbar { width: 0px; height: 0px; }
::-webkit-scrollbar-button { width: 0px; height: 0px; }
*,  *::after,  *::before { box-sizing: border-box; }

.horizontalScroll { width: 100vh; height: 100vw; overflow-y: auto; overflow-x: hidden;
                    align-content-webkit-transform-origin: right top; transform-origin: right top;
                    -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
                    transform: rotate(-90deg) translate3d(0, -100vh, 0); }
.horizontalScroll > * { -webkit-transform-origin: left top; transform-origin: left top;
                        -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh + 0px), 0);
                        transform: rotate(90deg) translate3d(0, calc(-100vh + 0px), 0); }

.item { width: calc(100vh); height: calc(100vh); position: relative; }
.item .bg, .bg2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0;
                  background: no-repeat center center / cover; }
.bg2 { background-color: var(--dusty-gray); }