@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Raugi Font Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Raugi Font Regular'), url('../fonts/RaugifontRegular-Ea16l.woff') format('woff');
  }

@font-face {
  font-family: 'Sister Spray';
  font-style: normal;
  font-weight: normal;
  src: local('Sister Spray'), url('../fonts/SisterSpray.woff') format('woff');
  }


:root {
    --bg-color: #0e1111;
    --deep-walnut: #1f1812;
    --chinas-black: #0F1314;
    --light-bg-color: #232b2b;
    --line-color: #FCFCFC;
    --dim-gray: #9B9B9B;
    --davy-gray: #555555;
    --dark-teal: #004041;
    --chinas-gold: #CC9802;
    --text-color: #F5F5F5;
    --test-color: #288ba8;
    --gloomy-yellow: #878104;
    --fresh-yellow: #F78104;
    --juicy-orange: #FD5901;
    --young-cactus: #4d9f0c;

    --dusty-gray: #757164;
    --dusty-black: #222423;
    --teal-point: #154946;

    --common-font: .88rem;
    --ui-font: .92rem;
    --title-font: 1.3rem;
    --nav-font: 1.14rem;
    --description-font: .9rem;

    --outermost-size: calc(100vw - 0px);
  }
  // use: animation: show 13s linear infinite;

  @keyframes show{
    0% {margin-top:-450px;}
    2% {margin-top:-360px;}
    20% {margin-top:-360px;}
    22% {margin-top:-270px;}
    40% {margin-top:-270px;}
    42% {margin-top:-180px;}
    60% {margin-top:-180px;}
    62% {margin-top:-90px;}
    80% {margin-top:-90px;}
    82% {margin-top:0px;}
    98%{margin-top:0px;}
    100% {margin-top:-450px;}
}

// Globals
body { width: 100vw; height: 100vh; overflow-x: hidden; background-color: var(--bg-color); padding: 0; margin: 0; }
// * { font-family: 'Chakra Petch', sans-serif; }
* { font-family: 'DM Serif Display', serif; }
// div[class^="outermost-"] { max-width: var(--outermost-size); border: 1px solid var(--chinas-gold); margin-left: auto; margin-right: auto; }

// Common components
.nav-wrapper { margin: 20px; border: 1px solid var(--young-cactus); margin-left: auto; margin-right: auto;  width: fit-content; max-width: var(--outermost-size); font-size: var(--nav-font);  }
button { font-weight: 500; outline: none; padding: 4px; }
.btnConsole { background-color: transparent; color: var(--text-color); border: none; border-bottom: 1px solid var(--text-color); padding-bottom: 6px; margin: 0px 20px; }
table { width: var(--outermost-size); text-align: center;  }
table, tr, td { border-collapse: collapse; color: var(--text-color); }
a { text-decoration: none; color: var(--text-color); }

.title-set-wrapper{ margin: 14px 14px; border: 1px solid var(--juicy-orange); color: var(--young-cactus); }
.medium-title-wrapper p:nth-child(1) { font-size: var(--title-font); }
.description { color: var(--dim-gray); font-size: var(--description-font); }

.center { text-align: center; }


// RecentPosts
.recentPosts-table tr:nth-of-type(1) { background-color: var(--dim-gray); }
.recentPosts-table tr:nth-of-type(1) td { background-color: var(--dim-gray); color: var(--bg-color); text-transform: uppercase; font-weight: 600;  }
.recentPosts-table tr td { padding: 3px; border: 1px solid var(--dim-gray); }

// DailyTodos
.dailyTodos-table tr td { padding: 3px; border: 1px solid var(--dim-gray); }
table tr td input[type="checkbox"] { transform: scale(1.4); }

// DailyCalendar
.outermost-dailyScheduler { height: fit-content; overflow: hidden; }
.buttons-wrapper { margin: 20px; }
.buttons-wrapper > button { margin-right: 8px; cursor: pointer; transition: box-shadow 250ms; box-shadow: 0px 0px 0px rgba(0,0,0,0);  }
.buttons-wrapper > button:hover { background-color: var(--text-color); color: var(--bg-color); transition: box-shadow 500ms; box-shadow: 0px 0px 0px rgba(0,0,0,0); }

.gstc { border: 1px solid var(--dark-teal); margin: 20px; }
.dailyScheduler-btns { border: 1px solid var(--dim-gray); font-size: 1.6rem; background: transparent; color: var(--text-color); width: 30px; height: 30px; line-height: 20px; }




::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.horizontalScroll {
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  // background: #2E2E2E;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
          transform: rotate(-90deg) translate3d(0, -100vh, 0);
}
.horizontalScroll > * {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh + 0px), 0);
          transform: rotate(90deg) translate3d(0, calc(-100vh + 0px), 0);
}
.item {
  width: calc(100vh);
  height: calc(100vh);
  position: relative;
}
.item .bg, .bg2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat center center / cover;
  // background-blend-mode: luminosity;
}

.bg2{
  background-color: var(--dusty-gray);
} 



// .section1 { background-color: var(--dusty-gray); color: var(--dusty-black);}
.section1 { background-color: var(--dusty-black); color: var(--dusty-gray); width: calc(100vh); height: calc(100vh); }
// .section1-main { width: calc(100vh); height: calc(100vh); font-weight: 700; font-size: 13.2rem; padding-left: 30px; border-left: 30px solid var(--dusty-gray); }
.section1-main { width: calc(100vh); height: calc(100vh); font-weight: 700; font-size: 6rem; padding-left: 40px; border-left: 20px solid var(--dusty-gray); }
.section1-main > span { line-height: 0.8; }

// .todos-content { color: #0a3d39; font-size: 13.4rem; font-style: italic; }
// .todos-content { color: #830439; font-size: 13.4rem; font-style: italic; }
.todos-doing{ color: #154946; font-size: 11rem; font-style: italic; }
.todos-content{  font-size: 6.2rem; font-style: italic; }
.ticking { text-align: right; font-size: 3rem; margin: 0 20px; }

// #0a3d39;
.gstc-wrapper  { font-family: 'Lato', sans-serif !important; }